.singers-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.singer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cart-container{
    
}
@media only screen and (max-width: 600px){
    .singers-container{
        display: block;
    }
    .singer-container{
        display: block;
    }
}